:root {
    --tn-light-gray: rgba(240, 240, 240, 1);
    --tn-blue: rgba(10, 19, 44, 1); 
    --tn-cyan: rgba(31, 196, 219, 1); 
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 28px;
    --font-size-xxl: 36px;
    --font-family-inter: "Inter";
    --input-width: 450px;
}

body{
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select::-ms-expand,
li {
    color: var(--tn-blue);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
}

p,
li {
    line-height: 25px;
}



.dropbtn {
    background-color:var(--tn-cyan);
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--tn-blue);
}


.content {
    padding: 15px 15px;
}

.double-input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.multi-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 15px 0px;
}

.multi-content-cont{
    display: flex;
    flex-direction: column;
}

.multi-enter{
    width: var(--input-width);
    height: 60px;
}

.inline-input {
    display: flex;
    flex-direction: row;
    width:300px;
}

.inline-input span:first-child{
    width: 100px;
}

.inline-input span:last-child{
    width: 100%;
}

.selector{
    padding: 3px 2px 3px 2px;
    border-radius: 3px;
    background-color: white;
}

select::-ms-expand{
    padding: 8px 5px 10px 5px;
    border-radius: 5px;
    background-color: white;
}

#intro-select.selector {
    width: 450px;
}

.buttons-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 15px 0px;
    width: 100%;
}

.timeoffs {
    display: flex;
    flex-direction: column;
}
.timeoff{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.timeoff .inline-input{
    width: unset;
}


button.main-button {
    min-width: 150px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: var(--tn-cyan);
    border: 0px;
    color: white;
}

button.main-button:hover {
    background-color: var(--tn-blue);
}

button.plus-button {
    max-width: 40px;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: var(--tn-cyan);
    border: 0px;
    color: white;
}


button.plus-button:hover {
    background-color: var(--tn-blue);
}

.title-plus {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: var(--input-width);
    padding: 0 0 5px 0;
    align-items: center;
}


button.close {
    background-color: transparent;
    border: 0px;
    font-size: var(--font-size-l);
}

#mainIframe{
    width: 100%;
    height:  400px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body .inline-input{
    width: 600px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.modal-body .inline-input .subject{
    width: 400px;
}

.modal-body .inline-input .subject-copy{
    width: unset;
}

.daterange{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height:100px;
    width: 600px;
    background: url('https://newsletter.truenorth.co/weeklyupdate/assets/header-dark.png') no-repeat center bottom;
    width: 600px;
    padding: 35px 30px;
}

.solution {
    padding: 0px 20px;
    display: flex;
    gap: 15px;
}

.uploader{
    margin: 20px 0px 20px 0px;    
}

h1 {
    font-size: var(--font-size-xl);
}

